
<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Bienvenido</h1>
    
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <p>Iniciar sesión</p>
      <ion-item>
        <ion-input formControlName="email" placeholder="correo" class="input"></ion-input>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          El email es requerido
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern">
          El email no es valido
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="contrasenia" class="input"></ion-input>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required">
          La contrasenia es requerido
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern">
          Contrasenia debe contener 8 entre numeros letras y simbolos
        </ion-text>
      </div>

      <ion-button (click)="login()">
        Iniciar sesión
      </ion-button>

      <div>
        <p>Usuario nuevo?<a [routerLink]="['/signup']">Registrarse</a></p>
      </div>
    </div>
  </form>
</ion-content>
